<form {{action 'query' on='submit'}}>
  {{input id='search_name' type='text' value=model.conditions.name }}

  <div>
    <a href='' id='reset' {{action 'reset'}}>Reset</a>
  </div>
  <div>
    <button id='search_submit' type='submit'>Submit</button>
  </div>
</form>


<table class='results'>
  <tbody>
    {{#each model.results as |result|}}
      <tr class='result'>
        <td>{{result.id}}</td>
        <td class='name'>{{result.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
