<div class='facet'>
  <div class='facet-header'>{{facet.label}}</div>

  <div class='buckets'>
    <div class='bucket {{if facet.noSelection "selected"}}'>
      <span {{action 'allBucketDidChange' facet}}>
        {{input class='all-bucket' type='checkbox' checked=facet.noSelection}}
        <label>
          <span class='bucket-label'>All</span>
        </label>
      </span>
    </div>

    {{#each facet.buckets as |bucket|}}
      <div class='bucket {{if bucket.selected "selected"}}'>
        <span {{action 'facetDidChange' facet bucket}}>
          {{input type='checkbox' checked=bucket.selected}}

          <label>
            <span class='bucket-label'>{{bucket.key}}</span>
            <span class="facet-count">({{bucket.friendlyCount}})</span>
          </label>
        </span>
      </div>
    {{/each}}
  </div>
</div>
