<a href='' {{action 'sort'}} class="{{currentDirection}} {{if justClicked onSortClass}}">
  {{label}}
  <span class="carets {{modelSortDirection}}">
    <span class='caret down'>&darr;</span>
    <span class='caret up'>&uarr;</span>
  </span>
</a>
