<h3>People Search</h3>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <h5>Query:</h5>
    <form {{action 'query' on='submit'}}>
      <div>
        <label>String Search</label>
        {{input id='search_name' type='text' value=model.conditions.name }}
      </div>

      <div id='name_autocomplete'>
        <label>Autocomplete Search</label>
        {{select-2
          placeholder="name"
          value=model.conditions.person_id.values
          allowClear=true
          multiple=true
          optionLabelPath='text'
          typeaheadSearchingText="Searching names..."
          typeaheadNoMatchesText="No names found for '%@'"
          typeaheadErrorText="Loading failed: %@"
          minimumInputLength=0
          query="queryNameAutocomplete"
        }}
      </div>

      <div style='display: none;'>
        {{input id='search_description' type='text' value=model.conditions.description}}
      </div>

      <!-- typically you'd call this through a service, maybe due to a websocket -->
      <!-- this is just for testing -->
      <div style='visibility: hidden'>
        <a href='' id='bg_refresh' {{action 'backgroundRefresh'}}>bg refresh</a>
      </div>

      <div>
        <a href='' id='reset' {{action 'reset'}}>Reset</a>
      </div>
      <div>
        <button id='search_submit' type='submit'>Submit</button>
      </div>
    </form>

    <h4>Facets</h4>
    {{facet-sections model.aggregations onFacetChange=(action 'query')}}
  </div>

  <div class="mdl-cell mdl-cell--6-col">
    <div class="loading-area {{if isSearching 'loading'}}">
      <h5>Results</h5>

      total pages:
      <span id='total_pages'>{{model.totalPages}}</span>

      total results:
      <span id='total_results'>{{model.totalResultCount}}</span>

      current page:
      <span id='current_page'>{{model.pagination.currentPage}}</span>

      per page:
      <span id='per_page'>{{model.pagination.perPage}}</span>

      <div>
        <a id='page_two' href='' {{action 'paginate' 2}}>Page 2</a>
      </div>

      <table class='results'>
        <thead>
          <tr>
            {{#sortable-search-links model (action 'sort') as |links|}}
              <th>id</th>
              <th>{{links.link 'name' label='Name' onSortClass='bounce'}}</th>
            {{/sortable-search-links}}
          </tr>
        </thead>

        <tbody>
          {{#each model.results as |result|}}
            <tr class='result'>
              <td>{{result.id}}</td>
              <td class='name'>{{result.name}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>


<br />



