<h1>People Search</h1>

<form {{action 'query' on='submit'}}>
  <label>String Search</label>
  {{input id='search_name' type='text' value=model.conditions.name }}

  <a href='' id='reset' {{action 'reset'}}>Reset</a>
  <button id='search_submit' type='submit'>Submit</button>
</form>

<br />
<h2>Results</h2>

total pages:
<div id='total_pages'>{{model.totalPages}}</div>

current page:
<div id='current_page'>{{model.pagination.currentPage}}</div>

per page:
<div id='per_page'>{{model.pagination.perPage}}</div>

pagination link:
<a id='page_two' href='' {{action 'paginate' 2}}>Page 2</a>

<table class='results'>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
  </thead>

  <tbody>
    {{#each model.results as |result|}}
      <tr class='result'>
        <td>{{result.id}}</td>
        <td class='name'>{{result.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
